<div>
  <div class="filters">
    <div class="filter">
      <a href="/listings/bed">
        <i class="fa-solid fa-bed"></i>
        <h4>Beds</h4>
      </a>
    </div>
    <div id="countryside" class="filter">
      <i class="fa-solid fa-home"></i>
      <h4>countryside</h4>
    </div>
  </div>
</div>
