<footer>
  <div class="bottom-footer container mx-auto">
    <ul class="footer-bottom-first">
      <li class="">
        <a class="" href="/">© 2024 Wanderlust, Inc</a>
      </li>
      <li><a href="/">. Privacy</a></li>
      <li><a href="/">. Terms</a></li>
      <li><a href="/">. Side Map</a></li>
    </ul>
    <ul class="footer-bottom-last">
      <li>
        <a href="/"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="/"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li>
        <a href="/"><i class="fa-brands fa-square-instagram"></i></a>
      </li>
    </ul>
  </div>
</footer>
