<nav class="navbar navbar-expand-md responsive-font sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/"
      ><i class="fa-brands fa-pied-piper"></i>Wanderlust</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link active" href="/listings">Listings</a>
        <a class="nav-link active" href="/listings/new">New</a>
        <% if (!currUser) { %>
        <a class="nav-link active" href="/signup">Sign up</a>
        <a class="nav-link active" href="/login">Logins</a>
        <% } %> <% if (currUser) { %>
        <a class="nav-link active" href="/logout">Log out</a>

        <% } %>
      </div>
    </div>
  </div>
</nav>
<div class="searchArea">
  <form method="post" action="/listings/search" class="d-flex">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      name="country"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
