<% layout("layouts/boilerplate.ejs") %>
<body>
    <h1>helo</h1>
        <div style="text-align: center;" class="">
            <h4 style="font-size: 30px;">  Occured</h4>
    <div style="text-align: center !important;font-size: 28px;font-weight: 500;color: red;">400</div>
    <p style="margin-top: 20px;font-size: 20px;font-weight: 500;"> Please, Try again.</p>
        </div>
        <img style="width: 500px; height: 500px;" src="/error.png" alt="image">
    </div> 
</body>
</html> 
